#DivarribaIndex{
    margin-top: 200px;
}

#EncaLogin{
    width: 450px;
    text-align: center;
    text-shadow: black;
}

#CuerpoLogin{
    width: 450px;
}


#EncaMenu{
    text-align: center;
    text-shadow: black;
}